---
layout: default
---
{{ content }}
<aside>
  <ul>
    <li><a href="/?sources={{ page.source }}">{{ page.source }}</a></li>
    <li>{% assign parts = page.created | split: "-" %}<a href="/?years={{ parts[0] }}">{{ parts[0] }}-{{ parts[1] }}-{{ parts[2] }}</a></li>
    <li><a href="/?authors={{ page.author }}">{{ page.author }}</a></li>
    <li>{% for category in page.categories %}<a href="/?categories={{ category }}">{{ category }}</a>{% endfor %}</li>
  </ul>
</aside>
